@media screen and (min-width: 601px) {
    body {
        font-family: Roboto, 'sans-serif';
        background-color: darkgray;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    header, footer {
        background-color: lightgray;
        width: 100%;
        padding: 0.5rem 1rem;
        border: 3px solid #000;
    }
    
    header *, footer * {
        display: inline-block;
        vertical-align: middle;
    }
    
    header {
        display: flex;
        justify-content:center ;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
    }
    
    header span {
        font-size: 2.5rem;
        font-weight: bold;
        color: darkblue;
        margin-left: 2rem;
    }
    
    #logo {
        width: 7rem;
        border-radius: 50%;
        border: 2px solid lightgray;
    }
    
    main {
        background-color: gray;
        width: 100%;
        /* height: 80vh; */
        height: 140vh;
        padding: 1rem;
        border: 3px solid #000;
        margin-top: -3px;
    }
    
    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        color: white;
    }
    
    h2 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 1.5rem;
        color: white;
        line-height: 1.5rem;
    }
    
    #redes-sociais {
        list-style: none;
        text-align: center;
        height: 2.5rem;
        margin-bottom: 2rem;
        padding: 1rem;
        background-color: dimgray;
        border-radius: 0.75rem;
        border: 3px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #redes-sociais li {
        margin: 0 1rem;
    }
    
    #redes-sociais li a {
        font-size: 1.5rem;
        text-decoration: none;
        color: rgb(221, 217, 217);
        font-weight: bold;
    }
    
    .bussola {
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
    }
    
    .cards-container {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: repeat(3 1fr);
        grid-template-areas: ". . . . norte norte norte . . . ."
                            "oeste oeste oeste . centro centro centro . leste leste leste"
                            ". . . . sul sul sul . . . .";
        column-gap: -1rem;
        row-gap: 3rem;
        justify-items: center;
        position: relative;
        z-index: 1;
        margin-bottom: 5rem;
    }
    
    .bussola-card {
        background-color: lightgray;
        border: 2px solid #000;
        border-radius: 0.5rem;
        padding: 1rem;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
        text-align: center;
        height: 7rem;
        width: 22vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card-titulo {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: darkblue;
        font-weight: bold;
    }
    
    .bussola-card p {
        font-size: 1.5rem;
        color: #333;
    }
    
    .norte {
        grid-area: norte;
    }
    
    .leste {
        grid-area: leste;
    }
    .sul {
        grid-area: sul;
    }
    .oeste {
        grid-area: oeste;
    }
    .centro {
        grid-area: centro;
    }
    
    #arco-externo {
        position: absolute;
        /* top: 27rem; */
        top: 29.5rem;
        left: calc(50% - 20vw);
        z-index: 0;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
    }

    /* Apagar */
    #arco-externo-historia {
        position: absolute;
        top: 68rem;
        left: calc(50% - 20vw);
        z-index: 0;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
    }
    #arco-externo-historia {
        background: linear-gradient(90deg,rgb(0, 36, 8) 0%, rgb(9, 121, 33) 35%, rgb(21, 255, 0) 100%);
        transform: rotate(360deg);
        transition: all 1s ease-in-out;
    }

    /* apagar até aqui */
    
    #arco-externo.active-respostas {
        background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        transform: rotate(360deg);
        transition: all 1s ease-in-out;
    }
    
    #arco-externo.active-historia {
        background: linear-gradient(90deg,rgb(0, 36, 8) 0%, rgb(9, 121, 33) 35%, rgb(21, 255, 0) 100%);
        transform: rotate(360deg);
        transition: all 1s ease-in-out;
    }
    
    #arco-externo:hover {
        transform: rotate(0deg);
        transition: all 1s ease-in-out;
    }
    
    .arco {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: gray;
        position: relative;
        top: 5%;
        left: 5%;
    }
    
    button {
        display: none;
        padding: 2rem 1.5rem;
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        background-color: darkblue;
        color: white;
        cursor: pointer;
        margin: 2rem 0;
    }
    
    footer {
        text-align: center;
        color: darkblue;
        font-weight: bold;
        border-radius: 0 0 1rem 1rem;
        margin-top: -2px;
        height: 5vh;
    }
    
    footer p {
        margin-top: 0.6vh;
        font-size: 2rem;
    }
    
    .hidden {
        display: none;
    }
}

